body,
h1,
h2 {
    margin: 0;
    padding: 0;
    color:white;

}
body {
    background: black;
    font-family: arial, sans-serif;

}
h1 {
    padding: 10px;
    background: #0F52BA;
}
/*---------------------------*/ /* Read Users */ /*---------------------------*/
#userList {
    /* margin: 0; */
    padding: 0;
    
    
    margin: 10px;
    border: 1px solid #4fc3fc;
    font-family: verdana;

    margin: auto;
    width: 50%;
 
    padding: 10px;

}
#userList h2 {
    padding: 10px;
    margin: 0;
    color: white;
    font-family: fantasy;
}
#userList li {
    padding: 5px 10px;
    border-top: 1px solid #4fc3fc;
    cursor: pointer;
    color: white;
    font-style: italic;

}
#userList li:hover {
    background: #4fc3fc;
    font-family: fantasy;
}
#userDetail {
    float: left;
    width: 250px;
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    border: 1px solid #4fc3fc;
    color: white;
    font-family: fantasy;
}

/* Add User Module */
#add-user-module {
    width: 30px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

#add-user-module #open-add-user-form-btn {
    background: #54bb7d;
    font-size: 1.5em;
    color: white;
    padding-bottom: 5px;
    font-family: fantasy;
}

#add-user-module form {
    position: absolute;
    padding: 10px;
    width: 150px;
    background-color: #000080;
    border: 1px solid #999;
    display: none;
    font-family: fantasy;
}

#add-user-module form input {
    width: 97%;
    margin: 2px 0;
    font-family: fantasy;
}

#add-user-module form button {
    background: #54bb7d;
    font-size: 1em;
    padding: 0px 10px;
    color: white;
    margin-top: 10px;
    font-family: fantasy;
}

#add-user-module:hover form {
    display: block;

}

/*Edit User Module*/
#edit-user-module {
    display: none;
    position: absolute;
    background-color: #54bb7d;
    border: 15px solid #999;
    top:180px;
    left:220px;
    padding: 20px;
    width: 300px;
    font-family: fantasy;
    color: black;
}

#user-list li:hover~#edit-user-module {
    display: none;
    font-family: fantasy;
}


#edit-user-module form button {
    background: #54bb7d;
    font-size: 1em;
    padding: 0px 10px;
    color: white;
    margin-top: 10px;
    font-family: fantasy;
}